.form-control {
    display: block;
    width: 95%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.5;
    color: black;
    background-color: #EAEAEA;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
  }