.header-logo {
    border-right: 1px solid #F2F2F2;
    padding: 14px;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.header-logo__pic {
    max-width: 100%;
    display: block;
}